*{
  margin: 0;
  padding: 0;
}
body{
  color: #444;
  font-family: sans-serif;
  border-top: 10px #2cc761 solid;
}
h1,
h2,
h3 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #2cc761;
}
article{
  margin-bottom: 60px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul, ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child{
  margin-bottom: 0;
}
/* footer p {
  font-size: 16px;
} */

#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.list-style-remove {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}
.post-header{
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border: 5px #2cc761 solid;
  border-left: none;
  border-right: none;
  padding: 50px 50px;
  width: 500px;
}
.post-img{
  width: 100%;
  height: auto;
}
a:any-link{
  color: #2cc761;
  text-decoration: none;
}
a:visited{
  color: #2cc761;
}
a:hover{
  color: #444;
  font-weight: bold;
  text-decoration: underline ;
}
.container{
  width: 700px;
  margin: 0 auto;
}